@charset "UTF-8";
*{
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin : 0;
	width: 100%;
	height: 100%;
}

a{
	color:black;
	text-decoration: none;
}


#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.ml5{margin-left:5px}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}

#container{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	width: 100%;
	height: 100%;
}

#container > header{
	padding: 10px;
	background-color: #a29bfe;
	height: 70px;
	display: flex;
	
}
#container > header > #headerLeft{
	flex-grow: 1;
	display: flex;
	align-items: center;
}

#container > header > #headerLeft > #headerLogout > a{
	color : blue;
}
#container > header > #headerRight{
	padding-right:40px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	flex-grow: 1;
}
#container > header > #headerRight > a{
	font-size:1.2em
}

#container > section{
	flex-grow: 1;
	overflow: scroll;
}

#container > footer{
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #636e72;
	height: 80px; 
}
.containerPImg{
	display: inline-block;
	width:45px;
	height:45px;
	border-radius: 50%;
	overflow: hidden;
	}

.pImg{
	object-fit: cover;
	max-width: 100%;
}
.bg_black {
	background-color: #000;
}
