@charset "UTF-8";

.recMenuContainer {
	width: 100%;
	height: 220px;
	overflow-x: scroll;
	padding: 5px;
	display: flex;
}

.recMenuContainer > .recMenuItem {
	width: 150px;
	height: 150px;
	position: relative;
}

.recMenuContainer > .recMenuItem > .pic {
	width: 100%;
	height: 100%;
}

.recMenuContainer > .recMenuItem > .pic > img {
	width: 100%;
	height: 100%;
}

.recMenuContainer > .recMenuItem > .info {
	width: 100%;
	height: 30px;
}

.recMenuContainer > .recMenuItem > .delIconContainer{
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.menuList {
	display: flex;
	height: 70px;
}

.menuList .menuItem {
	display: inline-block;
	width: 70px;
	height: 70px;
	color: white;
}

.menuList .menuItem:not(:first-child) {
	margin-left: 4px;
}

.menuList .menuItem img {
	width: 100%;
	height: 100%;
}

.menuList .menuItem .moreCnt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-detail {
	padding: 5px 0 10px 0;
}

.bg_black {
	background-color: #000;
}